* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

  }

  body{
    height: 100%;
    width: 100%;
    padding: 5px;
  }

 .container{
  height: 100%;
  width: 100%;
  background-color: red;
  display: grid;
 
  
   /* grid-template-columns: repeat(1, 1fr);
   grid-template-rows: repeat(4, 200px); */

 /* justify-items: ; */
   /* grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 1fr); */

   /* align-items: ; */
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(4, 200px);



   gap: 1rem;
   padding: 4rem;
   border: 2px solid blue;

    /* justify-items  container ki property h  vertical   */
    /* justify-items: center;
    justify-items: start; */
    /* justify-items: end; */
    /* stretch also there  without use .items height and width */

     /* horizontal */
    /* align-items: end; */
    /* align-items: start; */
    /* align-items: center; */
    /* stretch also there  without use .items height and width */

    place-items: center;
 
 

}
.items{
    /* height: 50%;
    width: 50%; */
    
    height: 100px;
    width: 100px;
    background-color: rgb(144, 89, 196);
    border: 2px solid black;
    
    /* placed at the end , center and start   justify-self */
    /* justify-self: end; */
    /* justify-self:  center; */
    /* justify-self: start ; */

    /*  agr height or width assign nhi ki to pure shell ko stretch property se kr lega  horizontal axis*/
        /* justify-self: stretch ;  */

    /* vertically axis */
    /* align-self: end; */
    /* align-self: center; */
    /* align-self: start; */
    /* align-self: stretch; */

    /* vertically axis && horizontal axis */
    /* place-self: center; */
    /* stretch pr height /width ko comment krna h   */
    /* place-self: stretch;   */




    
}


/* grid-column-start
grid-column-end
grid-row-start
grid-row-end */

/* short hand property  is grid-column , grid-row */