/* img {
    height: 200;
    width: 300;
    object-fit: cover;
    object-position: top;
   -webkit-mast-image: url(../images/splash1.png) ;
   /* -webkit-mast-image: url(./gurjar.jpg) ;
   -webkit-mask-size: contain; */ 

/* } */