
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   
    height: 100vh;
    width: 100vw;

 /* height: 1000%;
    width: 1000%; */
    overflow-x: none;
    /* background-color: #FFDEE9; */
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    
}

.navcontainer{
    width: 100vw ;
    /* background-color:  pink; */
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,97,1) 35%, rgba(0,212,255,1) 100%); */

    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(134,29,253,0.9944170783547794) 7%, rgba(252,176,69,1) 100%);
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
nav{
    width: 100%;
}

#navlist{
    width: 100%;
    /* margin-left: 10px;
    margin-right: 10px; */
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;


}
#navlogo{
    font-size: 1.5rem;
    color: white;
    background-color: plum;
    /* gap: 30px; */

}

a{
text-decoration: none;
}
#navitems{
    display: flex;
    gap: 40px;
    background-color: aquamarine;

}

.footerBox{
    /* background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%); */
    color :#20451d;
    width: 100%;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(134,29,253,0.9944170783547794) 7%, rgba(252,176,69,1) 100%);
  

    text-align: center;
    min-height: 40px;
}
.footerBox  p{
    width: 100%;  
    font-size: 1rem;
}
.containtBox{
    width: 50%;
    margin: auto;

    /* border: 2px solid black; */
    background-color:  white;
    display: flex;
    flex-direction: column;
    gap: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px black ;
    padding: 1rem;
}
.item{
    display: flex;
    /* gap: 30px; */
    justify-content: space-around;
    align-items: center;

}
.rightBox , img{
     height: 200px;
     width: 200px;
     border-radius: 20px;
     border: 1px solid black;
    
}


.leftbox {
   display: flex;
   flex-direction: column;
   gap: 20px;
   
}
.leftbox, h2{
    font-size: 1rem;
}
.ingBox{
    font-size: 1.4rem;
}
.recipeBox{
    font-size: 1rem;
}

img:hover{
    height: 210px;
    width: 210px;
    /* 40 min  */
    box-shadow: 3px 3px  10px 5px;
}
